#container{
    height: 1450px;
    width: 100%;
    /*text-align: center;*/
}
#container .wrapper{
    background: #f3f3f3;
    width: 1200px;
    height: 100%;
    /*height: 100%;*/
}
#container #left{
    width: 260px;
    float: left;
    position: relative;
    left: 36px;
}
#container #right{
    width: 870px;
    float: left;
    position: relative;
    left: 36px;
}
#photo{
    width: 100%;
    height: 188px;
    background: url("../img/things_07.png") no-repeat  center center;
}
#photo #icon{
    position: relative;
    top: 136px;
    left: 186px;
}
#photo #name,#saying{
    position: relative;
    left: 338px;
}
#saying{
    width: 400px;
    display: inline-block;
}
#sign{
    position:absolute;
    background: #f3f3f3;
    width: 240px;
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
    border: 0px;
    color: #6b6b6b;
}
#photo #reset{
    float: right;
    color: white;
    position: relative;
    right: 10%;
}
#reset img{
    vertical-align: middle;
}
/********left start*********/
#left,#right{
    margin: 92px 0 ;
}

#left .all{
    height: 46px;
    background: #8fe8d2;
    line-height: 46px;
    color: #41c7a6;
    font: 17px/46px "HiraginoSansGB W3";
}
#left .all a{
    color: white;
}
#left li{
    height: 40px;
    line-height: 40px;
    background: white;
    padding-left: 36px;
    border-bottom:1px solid #d6d6d6 ;
    /*margin-left: 36px;*/
    font: 14px/40px "Î¢ÈíÑÅºÚ Regular";
}
#left .classics{
    background: #8fe8d2;
    color: white;
}
#left .classics a{
    color: white;
}
#left span{
    font: 12px "Î¢ÈíÑÅºÚ Regular" ;
    margin-right: 8px;
    color: #a2a2a2;
}
#left .text-color{
    color: #41c7a6;
}
#left .text-color a{
    color: #a2a2a2;
}
#left li a{
    color: #a2a2a2;
}

/***********left end*********/

/***********right start*********/
#right{
    margin-left: 17px;
}
#right li{
    height: 46px;
    background: white;
    margin-bottom: 2px;
    line-height: 46px;
    padding-left: 20px;
    font: 14px/46px "[HiraginoSansGB W3]";
    color: #6b6b6b;
}
#right li a{
    color: #6b6b6b;
}
#right .allGoods{
    font: 17px/46px "[HiraginoSansGB W3]";
    color: #6b6b6b;
}
#right span{
    margin-right: 40px;
}
#right #more span{
    display: block;
    width: 126px;
    height: 26px;
    background: #8766bc;
    color: white;
    text-align: center;
    line-height: 26px;
    margin: 0 auto;
}
#important input{
    width: 129px;
    height: 26px;
}
.price input{
    width: 48px;
    height: 26px;
}
.right-up button {
    width: 84px;
    height: 26px;
    color: white;
    background: #8fe8d2;
    border: 1px solid #8fe8d2;
    cursor: pointer;
}
/**************************/
#goods{
    /*float: left;*/
    /*width: 1100px;*/
}
#goods .good{
    width: 273px;
    height: 450px;
    border: 1px solid #5c5c5a;
    float: left;
    margin-right: 14px;
    margin-top: 24px;
    background: white;
}
#goods .span-style{
    font-size: 13px;
    padding-left: 5px;
}
#goods button{
    text-align: center;
    width: 64px;
    height: 22px;
    border: 1px solid #8766bc;
    border-radius: 5px;
    margin-left: 5px;
    color: white;
    background: #8766bc;
    cursor: pointer;
}
#goods .selected{
    text-align: center;
    width: 64px;
    height: 22px;
    border: 1px solid #f88181;
    border-radius: 5px;
    margin-left: 5px;
    color: white;
    background: #f88181;
    cursor: pointer;

}
/**************** goods end************/